@model AllServicesViewModel
@{
    var listOfBills = ViewData["listOfBills"] as Dictionary<string, double>;
    var totalPrice = ViewData["totalPrice"];
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col text-center">
            <h1>List Of Bills</h1>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Service</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (listOfBills != null && listOfBills.Any())
                        {
                            foreach (var item in listOfBills)
                            {
                                <tr>
                                    <td>@item.Key</td>
                                    <td>$@item.Value</td>
                                </tr>
                            }
                            <tr>
                                <th>Total Price</th>
                                <td>$@totalPrice</td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td colspan="2" class="text-center">No items in the list</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="text-center">
                <a href="/Servise/AllServices" class="btn btn-primary btn-lg" role="button">Add More Items</a>
            </div>
        </div>
    </div>
</div>
