@model DetailsCompanyViewModel

@{
    Layout = "_AdminLayout";
}
<div class="card border-primary mb-3" style="width:100%; max-height: 20rem; border:none">


    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Dashboard/AdminIndex">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="/Company/AllCompany">Company List</a></li>
        <li class="breadcrumb-item"><a href="#">Company Info</a></li>

    </ol>
</div>

<div class="card text-center mx-auto" style="max-width: 600px;">
    <div class="card-body">
        <h3 class="card-title mb-4  text-primary">Company Info</h3>
        <hr />
        <div class="doc-info-body">
            <div class="doc-info-item">
                <ul class="list-unstyled d-grid gap-10">

                    <li class="d-sm-flex">
                        <i class="fas fa-user-md me-2 text-primary"></i>
                        <span class="fw-bold doc-info-title">Name</span>
                        <span class="fw-bold d-inline-block me-10"> : </span>
                        <span class="fs-base">@Model?.Name</span>
                    </li>
                    <br />
                    <li class="d-sm-flex">
                        <i class="fas fa-user-md me-2 text-primary"></i>
                        <span class="fw-bold doc-info-title">Specialization</span>
                        <span class="fw-bold d-inline-block me-10"> : </span>
                        <span class="fs-base">@Model?.Specialization</span>
                    </li>
                    <br />
                    <li class="d-sm-flex">
                        <i class="fas fa-map-marker-alt me-2 text-primary"></i>
                        <span class="fw-bold doc-info-title">Street</span>
                        <span class="fw-bold d-inline-block me-10"> : </span>
                        <span class="fs-base">@Model?.Street</span>
                    </li>
                    <br />
                    <li class="d-sm-flex">
                        <i class="fas fa-city me-2 text-primary"></i>
                        <span class="fw-bold doc-info-title">City</span>
                        <span class="fw-bold d-inline-block me-10"> : </span>
                        <span class="fs-base">@Model?.City </span>
                    </li>
                    <br />
                    <li class="d-sm-flex">
                        <i class="fas fa-mail-bulk me-2 text-primary"></i>
                        <span class="fw-bold doc-info-title">ZipCode</span>
                        <span class="fw-bold d-inline-block me-10"> : </span>
                        <span class="fs-base">@Model?.ZipCode </span>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
</div>
