
@{
    Layout = "_AdminLayout";
}

<div class="card border-primary mb-3" style="max-width: 20rem;">
    <div class="card-header">Doctors</div>
  <div class="card-body">
    <h4 class="card-title">@ViewBag.DoctorsNum</h4>
    </div>
</div>