@model DrugDetailsViewModel

@{
    Layout = "_AdminLayout";
   
}
<div class="card border-primary mb-3" style="width:100%; max-height: 20rem; border:none">


    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Dashboard/AdminIndex">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="/Drug/AllDrug">Drug List</a></li>
        <li class="breadcrumb-item"><a href="#">Drug Info</a></li>

    </ol>
</div>

<div class="card text-center mx-auto" style="max-width: 600px;">
    <div class="card-body">
        <h3 class="card-title mb-4  text-primary">Drug Info</h3>
        <hr />
        <div class="doc-info-body">
            <div class="doc-info-item">
                <ul class="list-unstyled d-grid gap-10">
                    <li class="d-sm-flex">
                        <i class="fas fa-user me-2 text-primary"></i>
                        <span class="fw-bold doc-info-title">Name</span>
                        <span class="fw-bold d-inline-block me-10"> : </span>
                        <span class="fs-base">@Model?.Name</span>
                    </li>
                    <br />
                    <li class="d-sm-flex">
                        <i class="fas fa-dollar-sign me-2 text-primary"></i>
                        <span class="fw-bold doc-info-title">Cost</span>
                        <span class="fw-bold d-inline-block me-10"> : </span>
                        <span class="fs-base">@Model?.Cost</span>
                    </li>
                    <br />
                    <li class="d-sm-flex">
                        <i class="fas fa-align-left me-2 text-primary"></i>
                        <span class="fw-bold doc-info-title">Description</span>
                        <span class="fw-bold d-inline-block me-10"> : </span>
                        <span class="fs-base">@Model?.Description</span>
                    </li>
                    <br />
                    <li class="d-sm-flex">
                        <i class="fas fa-building me-2 text-primary"></i>
                        <span class="fw-bold doc-info-title">CompanyName</span>
                        <span class="fw-bold d-inline-block me-10"> : </span>
                        <span class="fs-base">@Model?.Company</span>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
